@import './components/header.scss';
.wrap{
    min-height: 100vh;
    overflow: hidden;
    padding-top: .88rem /* 88/100 */;
    box-sizing: border-box;
    background: #fff;
}
.sure{
    font-size: .32rem /* 32/100 */;
}
/* serviceList */
.service-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem /* 50/100 */.47rem /* 47/100 */;
    .service-item{
        background: #fff;
        width: 2.08rem /* 208/100 */;
        height: .63rem /* 63/100 */;
        text-align: center;
        line-height: .63rem /* 63/100 */;
        font-size: .28rem /* 28/100 */;
        color: #000;
        border: .02rem /* 2/100 */solid #E5E5E5;
        margin-bottom: .39rem /* 39/100 */;
    }
    .active{
        border-color: #E09039;
        background: #FFF4ED;
    }
}