@function px2rem($px) {
    $rem: 750/100;
    @return ($px / $rem) + rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button,
input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

$blue: #4A90E2;
$bg: #F6F7FB;


a {
    color: $blue;
    text-decoration: none;
}

html {
    font-size: 1vw;
}

body {
    background: $bg;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    height: px2rem(90);
    padding: px2rem(20);
    color: #fff;
    background: $blue;
    display: flex;
    justify-content: center;
    .back {
        padding-left: px2rem(34);
        position: absolute;
        left: px2rem(20);
        top: px2rem(20);
        height: px2rem(45);
        line-height: px2rem(45);
        font-size: px2rem(32);
        span {
            font-weight: 700;
            font-size: px2rem(26);
            position: absolute;
            display: block;
            width: px2rem(34);
            height: px2rem(45);
            line-height: px2rem(45);
            &::before {
                position: absolute;
                left: px2rem(-34);
                top: 0;
                content: "\e605";
                font-family: 'iconfont' !important;
                color: #FFFFFF;
                transform:rotate(-180deg)
            }
        }
    }
    .title {
        // height: px2rem(90);
        // line-height: px2rem(90);
        font-size: px2rem(37);
        text-align: center;
        font-weight: 500;
    }
}
.body {
    .error-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: px2rem(274) px2rem(169);
        .error-img {
            width: px2rem(194);
            height: px2rem(175);
            margin-bottom: px2rem(60);
        }
        .error-text {
            font-size: px2rem(34);
            color: #9b9b9b;
            font-weight: 500;
            margin-bottom: px2rem(60);
            text-align: center;
        }
        .error-subText {
            font-size: px2rem(30);
            color: #9b9b9b;
        }
        .error-back {
            font-size: px2rem(30);
            color: #9b9b9b;
            margin-top: px2rem(70);
        }
    }
    .logo-cell {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);
        display: flex;
        justify-content: center;
        align-items: center;
        height: px2rem(132);
        .logo-text {
            font-size: px2rem(24);
            color: #ccc;
            font-weight: 500;
        }
    }
}
